@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './colors';

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.page-light {
  background-color: $light;
}

.wrapper {
  margin: 0 auto;
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
}

@import './module/01_header.scss';
@import './module/02_main.scss';
